configuration {
	modi: "drun,window,emoji,calc,combi";
	show-icons: true;
	font: "FiraCode Nerd Font 12";
	sort: true;
	matching: "fuzzy";
	display-drun: "Run";
	display-calc: "Calc";
	display-window: "Window";
	display-power: "⏻";
	display-emoji: "😀";
}

@theme "themes/slate.rasi"